* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--text-primary);
}

:root {
    /* fondos */
    --bg-body: #00c16a;            /* verde exterior */
    --bg-app: #0b141a;             /* fondo general */
    --bg-aside: #111b21;           /* sidebar */
    --bg-header: #202c33;          /* headers */
    --bg-chat: #0b141a;            /* chat */
    --bg-input: #202c33;           /* input mensajes */

    /* burbujas */
    --msg-received: #202c33;       /* mensajes recibidos */
    --msg-sent: #005c4b;           /* mensajes enviados */

    /* texto */
    --text-primary: #e9edef;       /* texto principal */
    --text-secondary: #8696a0;     /* estados / horas */

    /* acentos */
    --accent-green: #00a884;       /* botones / enviar */
    --accent-hover: #02c39a;

    /* bordes */
    --border-soft: #2a3942;

    --primary-font: "Roboto", sans-serif;
}


img {
    height: 40px;
}

body {
    background: var(--bg-body);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.chat-app {
    background-color: var(--bg-app);
    width: 100%;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 380px 1fr;
    height: 100%;
}

.barra-contactos {
    background-color: var(--bg-aside);
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.barra-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar {
    display: flex;
    gap: 8px;
}

.navbar-icons {
    background: none;
    border: none;
    cursor: pointer;
}

.imagen-perfil {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.search {
    background-color: var(--bg-aside);
    padding: 8px 12px;
}

.search form input {
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: var(--bg-header);
    color: var(--text-primary);
    font-size: 14px;
}

.search form input::placeholder {
    color: var(--text-muted);
}

.chats {
    list-style: none;
}

.user-chat {
    display: flex;
    gap: 12px;
    padding: 10px 12px;
    cursor: pointers;
}

.user-chat:hover {
    background-color: var(--bg-header);
}

.user-chat div h3 {
    font-size: 15px;
    color: var(--text-primary);
    
}

.user-chat div p {
    font-size: 13px;
    color: var(--text-secondary);
}

.chat-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    background-color: var(--bg-header);
}

.chat-mensajes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 6px;
}

.mensaje {
    background-color: #02c39a;
    max-width: 65%;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;

}

.mensaje.recibido {
    align-self: flex-start;
    background-color: var(--msg-received);
}

.mensaje.enviado {
    align-self: flex-end;
    background-color: var(--msg-sent);
}

.msg-hora {
    display: block;
    font-size: 11px;
    opacity: 0.6;
    text-align: right;
    margin-top: 2px;
}

.chat-footer {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 10px;
    gap: 6px;
    background-color: var(--bg-header);
}

.chat-footer form {
    flex: 1;
}

.btn-clip {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-clip img {
    height: 22px;
    width: 22px;
    display: block;
}

.btn-clip:hover {
    background-color: #ffffff14;
    color: var(--accent);
}

.btn-clip:active {
    transform: scale(0.95);
}


.chat-footer textarea {
    flex: 1;
    width: 100%;
    min-height: 40px;
    padding: 8px;
    resize: none;
    border-radius: 15px;
    border: none;
    font-size: 11px;
    color: var(--text-secondary);
}

.btn-send {
    background-color: var(--accent-green);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-send img {
    height: 22px;
    width: 22px;
    display: block;
}

.btn-send:hover {
    filter: brightness(1.1);
}

.btn-send:active {
    transform: scale(0.95);
}